# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

# Site
title: CodeVerse | 技术宇宙
subtitle: ''
description: ''
keywords: ''
author: vilas
language: en
timezone: ''

# URL
## Set your site url here. For example, if you use GitHub Page, set url as 'https://username.github.io/project'
url: https://VilasWang.github.io
permalink: posts/:abbrlink/  # 使用abbrlink生成永久链接
permalink_defaults:
pretty_urls:
  trailing_index: true
  trailing_html: true

# abbrlink config
abbrlink:
  alg: crc32  # Support crc16(default) and crc32
  rep: hex    # Support dec(default) and hex
  drafts: false  # (true)Process draft,(false)Do not process draft. false(default)
  force: false # (true)Force regenerate,(false)Regenerate only when new. false(default)

# Generator JSON Content
jsonContent:
  meta: false
  pages: false
  posts:
    title: true
    date: true
    path: true
    text: false
    raw: false
    content: false
    slug: false
    updated: false
    comments: false
    link: false
    permalink: false
    excerpt: false
    categories: false
    tags: true

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render:

# Writing
new_post_name: :title.md # File name of new posts
default_layout: post
titlecase: false # Transform title into titlecase
external_link:
  enable: true # Open external links in new tab
  field: site # Apply to the whole site
  exclude: ''
filename_case: 0
render_drafts: false
post_asset_folder: false
relative_link: false
future: true
highlight:
  enable: true
  line_number: true
  auto_detect: false
  tab_replace: ''
  wrap: true
  hljs: false
prismjs:
  enable: false
  preprocess: true
  line_number: true
  tab_replace: ''

# Home page setting
# path: Root path for your blogs index page. (default = '')
# per_page: Posts displayed per page. (0 = disable pagination)
# order_by: Posts order. (Order by date descending by default)
index_generator:
  path: ''
  per_page: 10
  order_by: -date

# Excerpt settings
# Set the number of words to display in post excerpt on homepage.
excerpt_description: false
auto_excerpt:
  enable: true
  length: 150

# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Metadata elements
## https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta
meta_generator: true

# Date / Time format
## Hexo uses Moment.js to parse and display date
## https://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD
time_format: HH:mm:ss
## use_date_for_updated:
## You can customize the date used for updated timestamp.
## updated_option: 'mtime' # Use file modification date
## updated_option: 'date' # Use specified date
## updated_option: 'empty' # no updated date

# Pagination
## Set per_page to 0 to disable pagination
per_page: 10
pagination_dir: page

# Include / Exclude file(s)
## include:/exclude: options only apply to the 'source/' folder
include:
exclude:
ignore:

# Extensions
## Plugins: https://hexo.io/plugins/
## Themes: https://hexo.io/themes/
theme: butterfly


# Deployment
## Docs: https://hexo.io/docs/one-command-deployment
deploy:
  type: git
  repo: git@github.com:VilasWang/VilasWang.github.io.git
  branch: main
  message: "Site updated: {{ now('YYYY-MM-DD HH:mm:ss') }}"

# RSS订阅
feed:
  enable: true
  type: atom
  path: atom.xml
  limit: 20
  hub:
  content: true
  content_limit: 140
  content_limit_delim: ' '
  order_by: -date

# Sitemap
sitemap:
  path: sitemap.xml
  rel: false
  tags: true
  categories: true

# Baidu Sitemap (中国SEO)
baidusitemap:
  path: baidusitemap.xml
